*{
    padding: 0rem;
    margin: 0rem;
    font-family: 'Alegreya', serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8rem auto 33rem;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    height: auto;
}

header{
    grid-area: header;
}

.headerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 100%;
    align-content: center;
}

.headerContainer a{
    width: 25%;
    height: 100%;
}

ul, ol{
    list-style: none;
    padding: 0;
}

.logo{
    background-image:url(../img/Annay-Logo.ico);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#btn-menu{
    display:none;
}

#btn-menu:checked ~ .nav{
    display: block;
}

label{
    display: block;
}

label img{
    padding-top: 50%;
}

.nav{
    display: none;
    width: 50%;
    position: absolute;
    background-color: #fff;
    margin-top: 6rem;
    margin-left: 25%;
}

.nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width: 100%;
    flex-direction: column;
}

.nav li a{
    font-size: 1rem;
    color: rgba(241, 163, 99, 0.795);
    text-decoration: none;
    display: block;
    text-align: center;
    height: auto;
    width: auto;
}

li a:hover{
    color: #000;
}

.nav li ul{
    display: none;
    position: relative;
    width: 100%;
}

#submenu:hover> ul{
    display: block;
}

main{
grid-area: main;
display: flex;
flex-flow: column wrap;
align-content: center;
}

.slider{
    width: 100%;
    height: 15rem;
    background-size:cover;
    background-position: center;
    animation-name: sliderAnimate;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    margin-top: 2rem;
}

@keyframes sliderAnimate{
    0%{
        background-image: url("../img/Annay_slider4.jpg");
    }
    50%{
        background-image: url("../img/Annay_slider2.jpg");
    }
    100%{
        background-image: url("../img/Annay_slider4.jpg");
    }
}

.destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slideContent{
    width: 60%;
}

h2{
    margin-top: 3rem;
    font-size: 1rem;
    color:  rgba(241, 163, 99, 0.795);
    text-align: center;
}

.destacadosImgContainer{
    margin-top: 3rem;
    width: 1rem;
}

.destacadosImgContainer img{
    width: 100%;
    object-fit: cover;
}

.swiper-button-next{
    right: 0;
    padding-top: 4rem;
}

.swiper-button-prev{
    left: 0;
    padding-top: 4rem;
}

#aboutBg{
    background-image: url("../img/Annay_slider1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    margin-bottom: -3rem;
    margin-top: 3rem;
}

h1{
    font-size: 1.1rem;
    color: #fff;
}

p{
    font-size: 0.7rem;
    color: #fff;
}

footer{
    grid-area: footer;
    display:flex;
    flex-direction:column;
    background-color: #000;
    align-items: center;
    margin-top: 3rem;
}

.footerColum{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footerColum h3{
    font-size: 0.8rem;
}

.footerColum h3{
    color: #fff;
}

.footerColum h3 a{
    text-decoration: none;
    color: #fff;
}

.footerColum ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerColum li a{
    text-decoration: none;
    color: #fff;
}

.imgRedesContainer{
    position: relative;
    width: 5rem;
    height: 2rem;
}

.redLogo1{
    width: 48%;
    height: 100%;
    background-image:url(../img/ig-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.redLogo2{
    width: 48%;
    height: 100%;
    background-image:url(../img/logo-fb.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

@media screen and (min-width: 376px){
    body{
        grid-template-rows: 8rem auto 33rem;
    }
    .nav li a{
        font-size: 1.3rem;
    }
    .slider{
        height: 20rem;
    }
    #aboutBg{
        height: 26rem;
    }
    h1{
        font-size: 1.4rem;
    }
    p{
        font-size: 0.9rem;
    }
    .footerColum{
        margin-top: 1.3rem;
    }
    .footerColum h3{
        font-size: 1rem;
    }
}
@media screen and (min-width: 560px){ 
    body{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 15rem auto 20rem;
        grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
    .logo{
        width: 60%;
    }
    label{
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-around;
    }
    .nav ul{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .nav li a{
        font-size: 1.2rem;
    }
    .slider{
        height: 28rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .slideContent{
        width: 100%;
    }
    #aboutBg{
        height: 29rem;
    }
    h1{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
    }
    footer{
        flex-direction: row;
        align-items: unset;
        justify-content: space-evenly;
    }
    .footerColum{
        margin-top: 3rem;
    }
    .footerColum h3{
        font-size: 1.2rem;
    }
    .footerColum ul{
        align-items: flex-start;
        margin-top: 1rem;
    }
    .footerColum li{
        margin-top: 0.5rem;
    }
}
@media screen and (min-width: 769px){
    .nav li a{
        font-size: 1.5rem;
    }
    .slider{
        height: 40rem;
    }
    h2{
        font-size: 2rem;
    }
    #aboutBg{
        height: 36rem;
    }
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.6rem;
    }
    .footerColum h3{
    font-size: 1.5rem;
    }
    .footerColum li{
        font-size: 1.2rem;
    }
    .redLogo1{
        width: 47%;
    }
    .redLogo2{
        width: 47%;
    }
}
@media screen and (min-width: 1024px){
    .nav li a{
        font-size: 1.8rem;
    }
    .slider{
        height: 45rem;
    }
    h2{
        font-size: 2.3rem;
    }
    #aboutBg{
        height: 45rem;
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1440px){
    body{
        grid-template-rows: 20rem auto 30rem;
    }
    .nav li a{
        font-size: 2.5rem;
    }
    .slider{
        height: 55rem;
    }
    h2{
        font-size: 2.8rem;
    }
    #aboutBg{
        height: 55rem;
    }
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2.5rem;
    }
    .footerColum h3{
        font-size: 2.5rem;
    }
    .footerColum li{
        font-size: 1.9rem;
    }
    .imgRedesContainer{
        width: 6rem;
        height: 3rem;
    }
    .redLogo1{
        width: 45%;
    }
    .redLogo2{
        width: 45%;
    } 
}
@media screen and (min-width: 1700px){
    .nav li a{
        font-size: 3rem;
    }
    .slider{
        height: 85rem;
    }
    h2{
        font-size: 4rem;
    }
    #aboutBg{
        height: 85rem;
    }
    h1{
        font-size: 5rem;
    }
    p{
        font-size: 3rem;
    }
    .footerColum h3{
        font-size: 2.7rem;
    }
    .footerColum li{
        font-size: 2.5rem;
    }
}